<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eDM67RM_2015_10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
  <servlet>
    <description></description>
    <display-name>MaintainProduct</display-name>
    <servlet-name>MaintainProduct</servlet-name>
    <servlet-class>_20_productMaintain.controller.DisplayMaintainProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintainProduct</servlet-name>
    <url-pattern>/_20_productMaintain/DisplayPageProducts</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>BookInsertServlet</display-name>
    <servlet-name>BookInsertServlet</servlet-name>
    <servlet-class>_20_productMaintain.controller.BookInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>_20_productMaintain.controller.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/_20_productMaintain/BookDelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookUpdateServlet</servlet-name>
    <servlet-class>_20_productMaintain.controller.BookUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpdateServlet</servlet-name>
    <url-pattern>/_20_productMaintain/BookUpdate.do</url-pattern>
  </servlet-mapping>
   -->
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <!-- 
  <filter>
    <display-name>LoginFilter</display-name>
    <icon/>
    <filter-name>LoginFilter</filter-name>
    <filter-class>_02_login.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>mustLogin1</param-name>
      <param-value>/_03_listBooks/*</param-value>
    </init-param>
    <init-param>
      <param-name>mustLogin2</param-name>
      <param-value>/_04_ShoppingCart/*</param-value>
    </init-param>
    <init-param>
      <param-name>mustLogin3</param-name>
      <param-value>/_05_orderProcess/*</param-value>
    </init-param>
    <init-param>
      <param-name>mustLogin4</param-name>
      <param-value>/_20_productMaintain/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->
  <resource-ref>
    <description>JNDI DataSource </description>
    <res-ref-name>jdbc/BookDataSQLver</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <display-name>FindUserPassword</display-name>
    <filter-name>FindUserPassword</filter-name>
    <filter-class>_02_login.filter.FindUserPassword</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FindUserPassword</filter-name>
    <url-pattern>/_02_login/login.jsp</url-pattern>
  </filter-mapping>
</web-app>